@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: "Oswald";
    font: 10px;
    background-color: #bfd36a;
}
.maintext {
    fill: #8C8C8C;
    font-size: 30px;
    font-weight: bold;
}
.detailtitle {
    fill: #8C8C8C;
    font-size: 24px;
}
.detailtext {
    fill: #8C8C8C;
    font-size: 16px;
}
.hidden {
    display: none;
}
.outertext {
    fill: white;
}
.viz {
    margin-left: 20px;
}
.innercircle {
    fill: white;
    cursor: pointer;
}
.outercircle {
    fill: none;
    stroke: white;
    stroke-width: 15;
}
.smallcircle {
    stroke: white;
    stroke-width: 6;
    cursor: pointer;
}
.topcircle {
    fill: #87a43d;
}
.rightcircle {
    fill: #f38b00;
}
.leftcircle {
    fill: #00b188;
}
.bottomcircle {
    fill: #0095bf;
}
.greycircle {
    fill: #8C8C8C;
}
.orbitcircle {
    fill: none;
    stroke: white;
    stroke-width: 4;
}
.planets {
    stroke: white;
    stroke-width: 3;
}
.studytext {
    fill: white;
    stroke-width: 0;
    font-size: 12px;
}
.microtext {
    fill: white;
    stroke-width: 0;
    font-size: 8px;
}